<body style="border:none;background-color:#0D0A09">
    <div style="width:100%;height:440px;overflow: hidden;margin-top:50px">
        <iframe allowfullscreen="true" src="https://pixelverse-v2-h9g3o17ao-lakshaybhushan.vercel.app/" style="margin-top:-245px;border:none;width:100%;height:800px;margin-bottom:-300px;bottom: 0;"></iframe>
    </div>
</body>